<form [formGroup]="form" (ngSubmit)="register()">
    <label for="username">Username:</label>
    <input formControlName="username" type="text" id="username"/>
    <label for="email">Email:</label>
    <input formControlName="email" type="email" id="email"/>
    <label for="password">Password:</label>
    <ng-container formGroupName="passwords">
        <input formControlName="password" type="password" id="password"/>
        <label for="confirmPassword">Confirm password:</label>
        <input formControlName="confirmPassword" type="password" id="confirmPassword"/>
    </ng-container>
    <button [disabled]="!form.valid">Submit</button>
    <ng-container *ngIf="error">
        <p>{{error}}</p>
    </ng-container>
    <ng-container *ngIf="form.get('username')?.errors?.['trimmedLengthValidator']">
        <p>Username needs to be longer than 3 characters.</p>
    </ng-container>
    <ng-container *ngIf="form.get('email')?.errors?.['emailValidator']">
        <p>Email needs to be valid.</p>
    </ng-container>
    <ng-container *ngIf="form.get('passwords')?.get('password')?.errors?.['passwordValidator']">
        <p>Password should:
            <br/>
            -be at least 6 characters long;
            <br/>
            -have a small letter, capital letter, symbol and number.
        </p>
    </ng-container>
    <ng-container *ngIf="form.get('passwords')?.errors?.['confirmPasswordValidator']">
        <p>Passwords need to match.</p>
    </ng-container>
</form>
