<nav class="bg-[#1976d2]">
    <ng-container *ngIf="getTheme() === 'dark'">
        <img (click)="changeTheme()" src="assets/icons/moon-icon.svg" alt="moon-icon" class="cursor-pointer">
    </ng-container>
    <ng-container *ngIf="getTheme() === 'light'">
        <img (click)="changeTheme()" src="assets/icons/sun-icon.svg" alt="sun-icon" class="cursor-pointer">
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
        <a routerLink="/posts">Posts</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/logout">Logout</a>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/home">Home</a>
        <a routerLink="/posts">Posts</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    </ng-container>
</nav>