div#posts {
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: darkslategray;
}

div#main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

div#post {
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}