<div id="main" [class.dark]="getTheme() === 'dark'" [class.light]="getTheme() === 'light'">
    <form [formGroup]="form" (ngSubmit)="editPost()" class="flex justify-center">
        <p *ngIf="loading && !error">Loading...</p>
        <ng-container *ngIf="!loading">
            <label>Title:</label>
            <input formControlName="title" type="text" />
            <label>Text:</label>
            <input formControlName="text" type="text" />
            <button [disabled]="!form.valid">Save changes</button>
            <ng-container *ngIf="error">
                <p>{{error}}</p>
            </ng-container>
        </ng-container>
    </form>
</div>