<div id="main" [class.dark]="getTheme() === 'dark'" [class.light]="getTheme() === 'light'">
    <form [formGroup]="form" class="bg-pa-gray-300">
        <label class="mt-1">Username:</label>
        <input formControlName="username" type="text" class="bg-pa-gray-100 p-1 disabled:opacity-50" />
        <label class="mt-1">Email:</label>
        <input formControlName="email" type="email" class="bg-pa-gray-100 p-1 disabled:opacity-50" />
        <label class="mt-1">Created:</label>
        <input formControlName="created" type="text" class="bg-pa-gray-100 p-1 disabled:opacity-50" />
        <button [routerLink]="['/profile/posts', user._id]" class="my-1">My posts</button>
    </form>
</div>