form {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

div.themes {
    display: flex;
    justify-content: space-evenly;
}
#main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}