<div id="main" [class.dark]="getTheme() === 'dark'" [class.light]="getTheme() === 'light'">
    <form [formGroup]="form" class="bg-pa-gray-300">
        <label>Username:</label>
        <input formControlName="username" type="text" />
        <label>Email:</label>
        <input formControlName="email" type="email" />
        <label>Created:</label>
        <input formControlName="created" type="text" />
        <button [routerLink]="['/profile/posts', user._id]">My posts</button>
    </form>
</div>