@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
}

body {
    background-color: #252222;
    color: white;
    margin: 0;
}

.dark {
    background-color: #252222;
}

.light {
    background-color: white;
    color: black;
}